*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fefae0;
}

/* BOARD */

#board{
    margin-top: 90px;
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #d5fdda;
    border: 2px solid grey;
    border-radius: 10px;
}

#midrow{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    gap: 10px;
}

/* HOUSE */

.House{
    height:200px;
    width: 200px;
    background-color: #fdf0d5;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.houseinner{
    height:150px;
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 17px;
    column-gap: 17px;
    justify-content: center;
    align-items: center;
}

.yelpiecekeep{
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piecekeep{
    height: 50px;
    width: 50px;
}

.redpiecekeep {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SQUARES */

.movement2{
    height: 192px;
    width: 192px;
    display: flex;
    flex-wrap: wrap;
}

.movement1{
    height: 192px;
    width: 192px;
    display: flex;
    flex-wrap: wrap;
}

#blue{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

#red{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}

#green{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#yellow{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#Home{
    height: 192px;
    width: 192px;
    background-color: seagreen;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* TOKENS */

.redtoken{
    height: 30px;
    width: 30px;
    background-color: red;
    border-radius: 50%;
    border: 2px solid black;
}

.yellowtoken{
    height: 30px;
    width: 30px;
    background-color: yellow;
    border-radius: 50%;
    border: 2px solid black;
}

.square{
    display: flex;
    justify-content: center;
    align-items: center;
}

#Roll{
    display: flex;
    justify-content: center;
    align-items: center;
}

#RollBtn{
    height: 70px;
    width: 140px;
    background-color: #669bbc;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#RollBtn:hover{
    background-color: #003049;
    opacity: 0.8;
    cursor: pointer;
}

#RollBtn:active{
    background-color: #669bbc;
    cursor: pointer;
}